//SASS
//font is assumed as exact match could not be found
$font-stack: 'Roboto', sans-serif;
$padding-boxes: 12px;
//Global Rules and browser reset
body{
  font-family: $font-stack;
  font-size: 14px;
}
h2{
  font-size: 2rem;
  margin: 15px 0px;
}
h3{
  font-size: 1.4rem;
}
div{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Containing Boxes for placement on page and placement relative
.mainWrapper{
  display: flex;
  justify-content: center;
}
.nameBoxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}
.paymentBoxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 15px 0px;
  justify-content: center;
  align-items: center;
}
.annualSalaryBox{
  display: flex;
}
.superRateBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formActions{
  display: flex;
  justify-content: flex-end;
}
//Box Styling
.firstName{
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: $padding-boxes;
}
.lastName{
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: $padding-boxes;
}
.annualSalary{
  border: 1px solid lightgrey;
  padding: $padding-boxes;
}
.superRate_input{
  width: 100%;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid lightgrey;
  padding: $padding-boxes;
}
input[type="text"] {
  font-family: $font-stack;
  font-size: 1rem;
}
.greyBox{
  background: lightgrey;
  font-size:  1rem;
  text-align: center;
  padding: 12px 20px;
  height: 45px;
}
.dollarSign{
  border-radius: 4px 0px 0px 4px;
}
.zeros{
  border-radius: 0px 4px 4px 0px;
}
.percentSign{
  border-radius: 4px 0px 0px 4px;
}
button {
  // colour is assumed as exact match could not be found
  background-color: #0063be;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
}
//wrapping div
.reportWrapper{
  display: flex;
  justify-content: center;
}
//table styling
table {
  font-family: $font-stack;
  font-size: 1rem;
  border-collapse: collapse;
  width: 650px;
}
td {
  padding: 15px;
  margin: 15px;
  border-bottom: 1px solid lightgrey;
}
table td:first-child {
  font-weight: bold;
}
tr:nth-child(odd) {
  background-color: WhiteSmoke;
}
//pay button Styling
.payButton{
  margin-top: 20px;
}
